/*
    Website 17 "Deathnote"
    Mayank all right reserved
    CSS : style/anime
*/
#anime
{
    width: 100%;
}
#anime li
{
    position:absolute;
    padding: 1px;
    font-weight: bolder;
    font-size: 3rem;
    color:var(--red-d);
    /* border:3px solid var(--red-b); */
    list-style-type: none;
}
#anime li:nth-child(1)
{
    top:10%;
    left:30%;
    animation:anime 5s linear infinite;
}
#anime li:nth-child(2)
{
    top:20%;
    left:70%;
    animation:anime 8s linear infinite;
}
#anime li:nth-child(3)
{
    top:30%;
    left:5%;
    animation:anime 6s linear infinite;
}
#anime li:nth-child(4)
{
    top:40%;
    left:80%;
    animation:anime 7s linear infinite;
}
#anime li:nth-child(5)
{
    top:50%;
    left:20%;
    animation:anime 9s linear infinite;
}
#anime li:nth-child(6)
{
    top:60%;
    left:60%;
    animation:anime 4s linear infinite;
}
#anime li:nth-child(7)
{
    top:70%;
    left:30%;
    animation:anime 5s linear infinite;
}
#anime li:nth-child(8)
{
    top:80%;
    left:80%;
    animation:anime 6s linear infinite;
}
#anime li:nth-child(9)
{
    top:70%;
    left:10%;
    animation:anime 4s linear infinite;
}
#anime li:nth-child(10)
{
    top:30%;
    left:90%;
    animation:anime 5s linear infinite;
}
#anime li:nth-child(11)
{
    top:60%;
    left:90%;
    animation:anime 5s linear infinite;
}
/* CSS : website 17/ style/ animation frame */
@keyframes anime{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity:0.5;
    }
    100%{
        transform: scale(1.2) translateY(-90px) rotate(360deg);
        opacity:1;
    }
}